:root {
    --light-gray: #dadce0;
    --dark-gray: #494951;
    --yellow: #fff353;
    --strong-yellow: #f6c551;
}

*  {

    /* Reset box model */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: sans-serif;
    color: var(--dark-gray);
}

body {
    background-color: white;
}

a {

    /* Reset anchor styles */
    cursor: pointer;
    color: inherit;

}

button {
    padding: 10px 20px;
    border: 2px solid var(--dark-gray);
    border-radius: 5px;
    background-color: var(--yellow);

    color: var(--dark-gray);
    font-weight: 700;
    font-size: 20px;

    cursor: pointer;
}

.modal {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.inactive {
    display: none;
}

/* Modal de bienvenida */

#welcome {
    width: 100vw;
    margin: 0 auto;
}

#welcome header {
    position: relative;
}

#welcome header img {
    width: 100%;
    display: block;
}

#welcome header .container-column {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#welcome header h1 {
    text-align: center;
    color: white;
}

#welcome main {
    margin: 30px 30px;
}

#welcome main p {
    margin: 10px 0;
    text-align: justify;
}

#welcome footer {
    padding: 30px;
}

@media (min-width: 1024px) {
    #welcome {
        width: 1024px;
    }
    #welcome header h1 {
        font-size: 48px;
    }
}

/* Calendario */

#calendar header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: var(--yellow);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

#calendar header svg {
    fill: var(--dark-gray);
    stroke: var(--dark-gray);
    cursor: pointer;
}

#calendar main {
    width: 100%;
    height: calc(16*40px + 50px);
    display: grid;
    grid-template-columns: 80px 1fr;
}

#calendar main aside {
    height: 100%;
}

#calendar main aside .container-column {
    height: 40px;
    position: relative;
}

#calendar main aside .container-column::before {
    content: "";
    position: absolute;
    left: 75px;
    top: 0;
    height: 1px;
    width: calc(100vw - 75px);
    border-top: 1px solid var(--light-gray);
}

#calendar main aside .container-column p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 50%; /* Mueve los elementos para que se alineen con el borde superior */
}

#calendar main .table {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    overflow-x: auto;
    overflow-y: hidden;
}

#calendar main .table .table-header {
    display: grid;
    grid-template-columns: repeat(6, minmax(120px, 1fr));
    justify-content: center;
    align-items: center;
}

#calendar main .table .table-header .container-column {
    height: 100%;
    position: relative;
}

#calendar main .table .table-header .container-column h2 {
    font-size: 20px;
    text-align: center;
}


#calendar main .table .table-header .container-column::before {
    content: "";
    position: absolute;
    left: 0;
    top: 45px;
    height: calc(15*40px + 5px);
    width: 1px;
    border-left: 1px solid var(--light-gray);
}

#calendar main .table .table-content {
    position: relative;
    background-color: transparent;
}

#calendar main .table .table-content .time-block {
    position: absolute;
    width: calc(100%/6);
    border-radius: 4px;
    overflow: hidden;
}

@media (min-width: 1024px) {
    #calendar header {
        font-size: 16px;
    }
}


/* Animaciones de carga */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--yellow);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--yellow) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}  
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}